<div>
  <h1 class="contact-title">Contact</h1>
  <div class="container">
    <div class="form-container">
      <form class="contact-form" action="">
        <div class="contact-field">
          <label for="">Name</label>
          <input type="text"> 
        </div>
        <div class="contact-field">
          <label for="">Email</label>
          <input type="text"> 
        </div>
        <div class="contact-field">
          <label for="">Message</label>
          <textarea></textarea> 
        </div>
        <button class="submit-button">Send!</button>
      </form>
    </div>
    <div class="contact-info">
      <p><i class="fas fa-map-marked-alt"></i> P Sherman, 42 Wallaby Way, Sydney</p>
      <p><i class="fas fa-phone"></i> (+1) 555 5555</p>
      <p><i class="fas fa-envelope"></i> coffeeshop@email.com</p>
    </div>
  </div>
</div>