<div>
  <nav class="navbar">
    <div class="navbar-container">
      <span class="navbar-title">{{site.title}}</span>
      <ul class="navbar-menu">
        <li class="menu-item"><a href="#about">about</a></li>
        <li class="menu-item"><a href="#menu">menu</a></li>
        <li class="menu-item"><a href="#contact">contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="header-message">
    <h1 class="message-title">
      <span>&#8226</span>
      <span class="message">{{site.message-title}}</span>
      <span>&#8226</span>
    </h1>
    <p>{{site.message-description}}</p>
  </div>

</div>